.preview-wrapper {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .cv-preview {
    padding: 20px;
    background-color: white;
    color: black;
  }
  
  .download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .download-btn:hover {
    background-color: #0056b3;
  }
  